@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-300 dark:bg-neutral-900;
  }
}

@layer components {
  .themeComponent {
    @apply bg-black text-white dark:bg-white dark:text-black shadow-xl;
  }
  .themeComponentRevert {
    @apply bg-white text-black dark:bg-black dark:text-white shadow-xl;
  }
  .post-detail h3 {
    @apply font-bold text-xl sm:text-2xl mb-2;
  }
  .post-detail h4 {
    @apply font-semibold text-lg sm:text-xl;
  }
  .post-detail p {
    @apply mb-8 sm:text-lg;
  }
  .post-detail a {
    @apply underline;
  }
  .post-detail ul,
  .post-detail ol {
    @apply block mb-8 px-5;
  }
  .post-detail ul li {
    @apply list-disc sm:text-lg;
  }
  .post-detail ol li {
    @apply list-decimal sm:text-lg;
  }
  .post-detail img {
    @apply w-full h-full mb-8;
  }
  .post-detail pre {
    @apply bg-neutral-950 text-white dark:cardDark p-4 max-w-xs sm:max-w-2xl my-4 overflow-x-scroll lg:max-w-lg rounded-2xl;
  }
  .card {
    @apply shadow-xl;
  }
  .cardDark {
    @apply shadow-xl;
  }
}

@layer utilities {
  .card {
    background: transparentize(#fff, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid transparentize(whitesmoke, 0.8);
  }
  .cardDark {
    background: transparentize(#222, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid transparentize(whitesmoke, 0.9);
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Lao", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

// Pagination Component
.pagination {
  @apply w-full flex justify-center gap-4 items-center;
}

.prevoious-pagination,
.next-pagination {
  @apply h-8 p-2 flex justify-center items-center;
}

.prevoious-pagination,
.next-pagination,
.page-item {
  @apply overflow-hidden rounded-lg card dark:cardDark;
}

.page-link {
  @apply w-8 h-8 flex justify-center items-center;
}

.active-pagination {
  @apply themeComponent;
}
