@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-zinc-200 via-gray-100 to-gray-300
    dark:bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] dark:from-gray-700 dark:via-neutral-800 dark:to-slate-900;
  }
}

@layer components {
  .themeComponent {
    @apply bg-black text-white dark:bg-white dark:text-black;
  }
  .themeComponentRevert {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
  .post-detail h3 {
    @apply font-bold text-xl;
  }
  .post-detail h4 {
    @apply font-semibold text-lg;
  }
  .post-detail p {
    @apply mb-8;
  }
  .post-detail a {
    @apply underline;
  }
  .post-detail ul,
  .post-detail ol {
    @apply block mb-8 px-5;
  }
  .post-detail ul li {
    @apply list-disc;
  }
  .post-detail ol li {
    @apply list-decimal;
  }
  .post-detail img {
    @apply w-full h-full mb-8;
  }
  .post-detail code {
    @apply bg-neutral-950 text-white dark:cardDark p-4 w-full;
  }
}

@layer utilities {
  .card {
    background: transparentize(#fff, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid transparentize(whitesmoke, 0.8);
  }
  .cardDark {
    background: transparentize(#222, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid transparentize(whitesmoke, 0.9);
  }
}

* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Lao', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
