@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .themeComponent {
    @apply bg-neutral-900 text-white dark:bg-neutral-300 dark:text-black shadow-xl;
  }
  .themeComponentRevert {
    @apply bg-neutral-300 text-black dark:bg-neutral-800 dark:text-white shadow-xl border-[whitesmoke];
  }
  .post-detail h3 {
    @apply font-bold text-xl sm:text-2xl mb-2;
  }
  .post-detail h4 {
    @apply font-semibold text-lg sm:text-xl;
  }
  .post-detail p {
    @apply mb-8 sm:text-lg;
  }
  .post-detail a {
    @apply underline;
  }
  .post-detail ul,
  .post-detail ol {
    @apply block mb-8 px-5;
  }
  .post-detail ul li {
    @apply list-disc sm:text-lg;
  }
  .post-detail ol li {
    @apply list-decimal sm:text-lg;
  }
  .post-detail img {
    @apply w-full h-full mb-8;
  }
  .post-detail pre {
    @apply bg-neutral-900 text-white  p-4 max-w-xs sm:max-w-2xl my-4 overflow-x-scroll lg:max-w-lg rounded-2xl;
  }
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Lao", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

// Pagination Component
.pagination {
  @apply w-full flex justify-center gap-4 items-center;
}

.prevoious-pagination,
.next-pagination {
  @apply h-8 p-2 flex justify-center items-center;
}

.prevoious-pagination,
.next-pagination,
.page-item {
  @apply overflow-hidden rounded-lg themeComponentRevert;
}

.page-link {
  @apply w-8 h-8 flex justify-center items-center;
}

.active-pagination {
  @apply themeComponent;
}

.hero__background {
  background-image: url("../../public/images/grid.svg");
}

.lightGrid {
  filter: invert(1);
}
.darkGrid {
  filter: invert(0);
  opacity: 0.3;
}

.background {
  @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-400 via-gray-300 to-gray-500
    dark:bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] dark:from-gray-700 dark:via-neutral-800 dark:to-slate-900;
}

.swiper-button-next,
.swiper-button-prev {
  @apply absolute top-[50%] z-[1] themeComponent rounded-full p-2;
}

.swiper-button-next {
  @apply right-0;
}

.swiper-button-prev {
  @apply left-0;
}
